<div class="section-web section-referral-others">

      <div class="container">
    
        <h1 class="init-title">OUR REFERRAL NETWORK</h1>

        <h1 class="title-main">
          Would You Like to <br>
          <span class="cyan_effect">Refer </span>
          a <span class="cyan_effect">Senior </span>
          to <br>Our Services?
        </h1>

        <div class="text-content">
          <p class="paragraph_2">
            Complete the Form &amp; We´ll Contact You!
          </p>
        </div>
        <br>
      </div>

      <app-referral-others></app-referral-others>
    <br>

</div>


<div  class="section-web section-self-referral">
    <br>
    <h1 class="title-main">
          Become Part of Our <br>
          <span class="cyan_effect">Referral Network </span>
    </h1>
 <br>
          <p class="paragraph_2">
            We’ve <strong>partnered</strong> with multiple<br>
            Community Organizations and
            Health Care Providers to <br><strong>Support Seniors</strong>
            with a <strong>Network</strong> of Local <strong>Senior Care</strong>
            Services tailored to their specific needs.<br> <br>

            Complete the form and become part of our<br><strong>Referral Network.</strong>
          </p>
          <br> <br>
   
<app-self-referral></app-self-referral>
 <br>
</div>