  <div  class="section-web section-1">
    
    <div class="section-1-1">
      <section class="reviews">
        <div class="container">
          <h1 class="init-title">HELLO THERE!</h1>
  
          <h1 class="title-main">
            Are You Looking for <br><span class="cyan_effect">Trusted </span> &amp; <span class="cyan_effect">Local </span><br>
            Senior Care in <strong>LA</strong>?
          </h1>
          
          <h1 class="title-main">
            We Got You <span class="cyan_effect">Covered </span>
          </h1>
        </div>

      

          <div class="image-container">
            <a href="https://maps.app.goo.gl/jPB8C2QazyNE7JUMA" target="_blank" rel="noopener noreferrer">
              <img class="review_img" src="/google.png" alt="Google Icon">
            </a>
            
            <a href="" target="_blank" rel="noopener noreferrer">
              <img class="review_img" src="/yelp.png" alt="Yelp Icon">
            </a>
          </div>
      
        
        <div class="text-content">
          <p class="paragraph_2 ">
              <strong>Los Angeles Senior Services</strong> focuses<br>
              on helping Seniors find <strong>Health Care,<br>
              Community and Food Resources </strong><br>
              in the Local Community that <strong>Support</strong><br>
              their <strong>Daily-Needs.</strong> Our line is <strong>Open 24/7!</strong>
          </p>
        </div>
        
        <br>

        <h1   class="init-title">SAN FERNANDO VALLEY // LOS ANGELES</h1>
        <br>
        
      </section>
    </div>
    
    <div class="section1-2">
         <section class="call24hs">
          <div class="container-call24hs">
            <a href="tel:8189227400" class="btn-appointment call-link">
              CALL 24 HS
            </a>
          </div>
          
          </section>
    </div>


  </div>


  <!--> Section 2<-->

  <div  class="section-web section-2">
    
    <div class="section-2-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="init-title color-black">SENIOR HEALTH CARE SERVICES</h1>
  
          <h1 class="title-main color-black">
            Senior Care Services <br>Covered by <span class="color-strong-grey">Medicare </span><br> and <span class="color-strong-grey">Medical</span>.
          </h1>
        </div>
        
        <div class="text-content">
          <p class="paragraph_2 color-black">
              We strive to build<strong>Life-Long Relationships</strong><br>
              with our <strong>Senior Community</strong> in<br>
              San Fernando Valley &amp; Los Angeles Areas. <br><br>
              We offer Senior Services that require<br>
              No Out-Of-Pocket Fees.
              <br><br>
              Learn more about our <strong>Health Care Services:</strong>
          </p>

          
        </div>
        <br>
        <br>
      </section>
    </div>



  </div>


 <div  class="section-web section-3">
    
    <div class="section-3-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="title-main">
            Adult <span class="cyan_effect">Day </span> Health<br> Care<span class="cyan_effect"> Center </span>(ADHC)
           
          </h1>
        </div>
        <div class="text-content">
          <ul class="service-list">
            <li>Free <strong>Transportation</strong></li>
            <li><strong>Chef-Prepared</strong> Meals</li>
            <li><strong>Social Work</strong> Services &amp; Help</li>
            <li><strong>Exercise</strong> &amp; <strong>Therapy</strong></li>
            <li><strong>Socialization</strong> &amp; <strong>Recreation</strong></li>
            <li><strong>Arts, Games</strong> &amp; <strong>Music</strong></li>
            <li>Daily <strong>Nurse-Led Health</strong> Care</li>
            <li><strong>Special Events</strong> &amp; <strong>Parties</strong></li>
            <li><strong>English</strong> &amp; <strong>Spanish Classes</strong></li>
          </ul>
        </div>

        
     <br>
        
      </section>
    </div>
    
    <div class="section-3-2">
         <section>
            <div class="container-visitadhc">
            
                  <button class="btn-visitadhc" (click)="goToLink('www.adhc-la.com')">
                    VISIT AN ADHC
                  </button>
            </div>
          </section>
    </div>


  </div>


   <div class="section-web section-4">
    
    <div class="section-4-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="title-main">
            Los Angeles <span class="cyan_effect">Home<br>Health Care </span>Services
          </h1>
        </div>
     <div class="text-content">
          <ul class="service-list">
            <li>Surgery Recovery</li>
            <li>Skilled Nursing Care</li>
            <li>Physical Therapy</li>
            <li>Occupational Therapy</li>
            <li>Speech Therapy</li>
            <li>Medication Management</li>
            <li>Wound Care</li>
            <li>Medical Social Services</li>
            <li>Personal Care Assistance</li>
            <li>Chronic Disease Management</li>
          </ul>
      </div>

        
     <br>
        
      </section>
    </div>
    
    <div class="section-4-2">
         <section>
          <div class="container-visitadhc">
            <button class="btn-visitadhc" (click)="goToLink('www.homehealthcare-la.com')">
              I NEED HOME HEALTH CARE
            </button>
          </div>
          
          </section>
    </div>


  </div>


<div #section class="section-web section-5">

  <div class="section-5-2">
    <section class="spanish_section">
      <br>
          <h1 class="title-main">
            We offer <span class="cyan_effect">Support </span>&amp; <span class="cyan_effect">Care </span>24/7<br>Se Habla <span class="cyan_effect">Español</span>!
          </h1>
      <img style=" width:100%;" class="flags_img" src="/flags.png" alt="Flags">
      <br>

      <div class="container text-content">
        <app-contact-form style="padding: 0 20px;"
                           [emailTemplate]="'template_7llv04q'"
                           [type_lead]="'Spanish'"
                           [emailAddress]="'info@sunvidamedicalclinic.com'"
                           [lenguage]="'false'">
        </app-contact-form>
      </div>
    </section>
  </div>
</div>



 <div  class="section-web section-6">
    
    <div class="section-6-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="title-main">
             <span class="cyan_effect">Hospice </span>&amp;<span class="cyan_effect"> Palliative </span><br> Care Services
          </h1>
        </div>
          <div class="text-content">
            <ul class="service-list">
              <li><strong>Pain </strong>&amp;<strong> Symptom</strong> Management</li>
              <li><strong>Emotional</strong> &amp; <strong>Psychological Support</strong></li>
              <li><strong>24/7</strong> Medical Support</li>
              <li><strong>Personalized Care</strong> Plans</li>
              <li>Family<strong> Support</strong> &amp; <strong>Education</strong></li>
              <li><strong>Spiritual Care</strong> Services</li>
              <li><strong>Home-Based </strong>&amp;<strong> Facility Care</strong></li>
              <li><strong>Respite Care </strong>for<strong> Families</strong></li>
              <li><strong>Bereavement </strong>&amp;<strong> Grief Support</strong></li>
            </ul>
          </div>


        
     <br>
        
      </section>
    </div>
    
    <div class="section-6-2">
         <section>
            <div class="container-visitadhc">
            
                  <button class="btn-visitadhc" (click)="goToLink('www.hospicecare-la.com')">
                    I NEED HOSPICE CARE
                  </button>
            </div>
          </section>
    </div>


  </div>

   <div class="section-web section-7">
    
    <div class="section-7-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="title-main">
            Los Angeles <span class="cyan_effect">Home<br>Health Care </span>Services
          </h1>
        </div>
        <div class="text-content">
          <ul class="service-list">
            <li>Primary <strong>Medical Care</strong></li>
            <li><strong>Laboratory & Testing</strong></li>
            <li><strong>Wound & Foot Care</strong></li>
            <li><strong>Chronic Disease</strong> Management</li>
            <li><strong>Mental Health</strong> Diagnosis & Care</li>
            <li><strong>Women’s Health Care</strong></li>
            <li><strong>Family Medicine</strong></li>
            <li>Physical <strong>Exams</strong> & TB <strong>Testing</strong></li>
          </ul>
        </div>


        
     <br>
        
      </section>
    </div>
    
    <div class="section-7-2">
         <section>
            <div class="container-visitadhc">
              
                  <button class="btn-visitadhc" (click)="goToLink('www.sunvidamedicalclinic.com')">
                    GET SENIOR CARE
                  </button>
            </div>
          </section>
    </div>


  </div>

<div #section class="section-web section-8">

  <div class="section-8-2">
    <section class="spanish_section">
      <br>
          <h1 class="title-main">
            <span class="green_effect">In Need of <br></span>Food Resources<span class="green_effect">?</span>
          </h1>
          <h1 class="init-title">LET US GET YOU <span class="green_effect">ANYTHING YOU NEED</span>.</h1>
          <br>
         <div class="text-content">
          <p class="paragraph_2">
              Complete the form below and we´ll<br>contact you right away.
              <br><br>
              Sign up today to recieve a<br>
              <strong>Monthly Fresh Grocery Bag on Us</strong>!
          </p>

          
        </div>

      <div class="container text-content">
        <app-contact-form style="padding: 0 20px;"
                           [emailTemplate]="'template_7llv04q'"
                           [type_lead]="'Coverage'"
                           [emailAddress]="'info@sunvidamedicalclinic.com'"
                           [lenguage]="'true'"
                           [color_btn]="'#99FF99'">
        </app-contact-form>
      </div>
    </section>
  </div>
</div>

<div #section class="section-web section-9 wheelchair">
  <video autoplay loop muted playsinline class="video-fondo">
    <source src="/videos/wheelchair.mp4" type="video/mp4">
    Tu navegador no soporta videos.
  </video>
 <div class="container">
  <div class="section-9-2">
    <section class="spanish_section">
      <br>
          <h1 class="title-main">
            <span class="cyan_effect">In Need of <br></span>Food Resources<span class="cyan_effect">?</span>
          </h1>
          <h1 class="init-title">LET US GET YOU <span class="cyan_effect">ANYTHING YOU NEED</span>.</h1>
          <br>
         <div class="text-content">
          <p class="paragraph_2">
              Complete the form below and we´ll<br>contact you right away.
              <br><br>
              We Support Seniors with a <br>
              <strong>Wide Range of Medical Devices!</strong><br>
              From Wheelchairs to Special Beds, <br>
             <strong> We Have it All!</strong>
          </p>

          
        </div>

      <div class="container text-content">
        <app-contact-form style="padding: 0 20px;"
                           [emailTemplate]="'template_7llv04q'"
                           [type_lead]="'Coverage'"
                           [emailAddress]="'info@sunvidamedicalclinic.com'"
                           [lenguage]="'true'">
        </app-contact-form>
      </div>
    </section>
  </div>
 </div> 
</div>


<div  class="section-web section-10">
    
    <div class="section-10-1">
      <section class="reviews">
        <div class="container">
          <h1 class="init-title color-black">HELLO THERE!</h1>
  
          <h1 class="title-main color-black">
              Frequently Asked <br>Questions
          </h1>

        </div>

      <div class="section-10-2">

        <section class="more_about">
                <div class="container">
                  <div class="text-content">
                    <div class="about_services_list">
                      <div class="service-item" *ngFor="let question of questions; let i = index">
                        <button class="service-btn" 
                                [ngClass]="{'cyan': i % 2 === 0, 'black': i % 2 !== 0}" 
                                (click)="toggleService(i)">
                          <span class="toggle-icon">{{ expandedIndex === i ? '-' : '+' }}</span>
                          {{ question.question }}
                        </button>
                        <div class="service-content" *ngIf="expandedIndex === i">
                          {{ question.answer }} <strong>{{ question.description_strong }}</strong>
                        </div>
                  
                      </div>
                    </div>
                  </div>
                </div>
                         <div class="text-content">
          <br><br>
          <p class="paragraph_2 color-black">
            At <strong>Los Angeles Senior Services</strong> we <br>
            are more than just a healthcare <br>
            provider we are a <strong>Trusted Partner</strong><br>
             in the 
            <strong>Well-Being of Seniors</strong> in the <br>
            Los Angeles Community. <br><br>

            Our mission is to build <br>
           <strong> Life-long Relationships</strong> with those <br>
            who can Benefit from <strong>High-Quality</strong> <br>
            <strong>Healthcare Programs</strong> covered by <br>
            <strong>Medicare</strong> & <strong>Medi-Cal.</strong><br><br>

            We believe every Senior deserves<br>
            <strong>Compassionate, Personalized Care</strong> that<br>
            enhances their <strong>Quality of Life</strong> while<br>
            providing <strong>Peace of Mind</strong> to their<br>
            Families.<br><br>

            Whether it’s <strong>Skilled Nursing, Therapy,<br>
            Personal Care,</strong> or <strong>Chronic Disease<br>
            Management,</strong> our dedicated <br>
            team ensures that every individual<br>
            receives the support they need—right in<br>
            the comfort of their home.<br><br>

            By guiding seniors and their loved ones<br>
            through <strong>accessible healthcare solutions,</strong><br>
            we help them maintain their<br>
            independence, dignity, and health for<br>
            years to come. <br><br>

            At <strong>LASS,</strong> we don’t just provide care—<br>
            we create <strong>lasting connections that make a  difference.
        </strong><br><br>

            Let’s build a <strong>healthier, happier future<br>
            together.</strong><br><br>
          </p>

        </div>
        <img   class="signature" src="/signatureJaz.png" alt="signatureJaz">
    
        </section>



      </div>  

      </section>
    </div>
    



  </div>
