.call-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding-top: 1.5vh;
  }
  
  .link-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding-top: 1.5vh;
  }
  