<div  class="section-web section-5">
    
    <div class="section-5-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="init-title">LOS ANGELES SENIOR SERVICES</h1>
  
          <h1 class="title-main ">
            <span class="cyan_effect">Who Are We?</span>
          </h1>
        </div>
        
        <div class="text-content">
          <p class="paragraph_2 ">
          <strong>Los Angeles Senior Services</strong> is a <strong>Community Agency</strong> that helps <strong>Seniors</strong> all over <strong>Los Angeles County</strong> &amp; <strong>Orange County</strong> access to <strong>Quality Health Care Services</strong> covered by <strong>Medical</strong> &amp; <strong>Medicare.</strong><br><br>

            Our <strong>Mission</strong> is to <strong>Improve Seniors Life-Quality</strong> by engaging them in tailored <strong>Health Care Programs</strong> according to their needs.<br><br>
            
            We build <strong>Life-Long Relationships</strong> were not only <strong>Health Care Needs</strong> are taking care off, but also <strong>Social, Recreational</strong> & <strong>Spiritual.</strong><br><br>
            
            Our Line is <strong>Open 24 hs to Help Seniors &amp; Families</strong> Find the Health Care Service they need.
          </p>

        </div>
       
            <a href="#logo">
              <img id="logo" class="logo_img_au" src="/logo.png" alt="Logo">
            </a>
            <br>
        <h1 class="title-main phone-number">
            (818) 922 7400
          </h1>
          <br>
      </section>
    </div>



  </div>




  <div  class="section-web section-2-au">
    
    
    <div class="section-2-1-au">
         <section>
            <div class="container-visitadhc">
              <a href="tel:8189227400">
                <button class="btn-visitadhc">
                  CALL NOW
                </button>
              </a>
            </div>
          </section>
    </div>


  </div>


  <div  class="section-web section-5">
    
    <div class="section-5-1">

        <div class="text-content-au">
          <p class=" text-au">
           <strong> We’ve Helped 
            Hundreds of Families 
            Find & Enroll their Loved Ones in Trusted Local Senior Care Services 
            that Do Not require any
            Out-of-Pocket Costs.</strong>
          </p>

        </div>
    </div>



  </div>




  <div  class="section-web section-3-au">
    



  </div>



  <div class="section-web section-4-au">
    <div class="text-content">
  
      <div class="review-block">
        <p class="stars">★★★★★</p>
        <p class="comment">
          “Aileen Kasparian is simply the best!<br>
          Her medical knowledge is top-notch,<br>
          and she always makes me feel comfortable.” - L.A.
    
        </p>
      </div>
  
      <div class="review-block">
        <p class="stars">★★★★★</p>
        <p class="comment">
          “Nurse Aileen was incredible.<br>
          She explained everything and<br>
          recommended things that I want to<br>
          implement in my daily life.<br>
          I saw her reviews and I see why so<br>
          many people go to her.” - J.O.
      
        </p>
      </div>
  
    </div>

    <div class="image-container">
      <a href="https://maps.app.goo.gl/jPB8C2QazyNE7JUMA" target="_blank" rel="noopener noreferrer">
        <img class="review_img" src="/google.png" alt="Google Icon">
      </a>
      
      <a href="" target="_blank" rel="noopener noreferrer">
        <img class="review_img" src="/yelp.png" alt="Yelp Icon">
      </a>
    </div>
  </div>
  


  <div  class="section-web section-3">
    
    <div class="section-3-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="title-main">
            Adult <span class="cyan_effect">Day </span> Health<br> Care<span class="cyan_effect"> Center </span>(ADHC)
           
          </h1>
        </div>
        <div class="text-content">
          <ul class="service-list">
            <li>Free <strong>Transportation</strong></li>
            <li><strong>Chef-Prepared</strong> Meals</li>
            <li><strong>Social Work</strong> Services &amp; Help</li>
            <li><strong>Exercise</strong> &amp; <strong>Therapy</strong></li>
            <li><strong>Socialization</strong> &amp; <strong>Recreation</strong></li>
            <li><strong>Arts, Games</strong> &amp; <strong>Music</strong></li>
            <li>Daily <strong>Nurse-Led Health</strong> Care</li>
            <li><strong>Special Events</strong> &amp; <strong>Parties</strong></li>
            <li><strong>English</strong> &amp; <strong>Spanish Classes</strong></li>
          </ul>
        </div>

        
     <br>
        
      </section>
    </div>
    
    <div class="section3-2">
        <section>
          <div class="container-visitadhc">
          
                <button class="btn-visitadhc" (click)="goToLink('www.adhc-la.com')">
                  VISIT AN ADHC
                </button>
          </div>
        </section>
    </div>


  </div>


  <div class="section-web section-4">
    
    <div class="section-4-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="title-main">
            Los Angeles <span class="cyan_effect">Home<br>Health Care </span>Services
          </h1>
        </div>
     <div class="text-content">
          <ul class="service-list">
            <li>Surgery Recovery</li>
            <li>Skilled Nursing Care</li>
            <li>Physical Therapy</li>
            <li>Occupational Therapy</li>
            <li>Speech Therapy</li>
            <li>Medication Management</li>
            <li>Wound Care</li>
            <li>Medical Social Services</li>
            <li>Personal Care Assistance</li>
            <li>Chronic Disease Management</li>
          </ul>
      </div>

        
     <br>
        
      </section>
    </div>
    
    <div class="section-4-2">
      <section>
        <div class="container-visitadhc">
          <button class="btn-visitadhc" (click)="goToLink('www.homehealthcare-la.com')">
            I NEED HOME HEALTH CARE
          </button>
        </div>
        
        </section>
    </div>


  </div>


  <div  class="section-web section-6">
    
    <div class="section-6-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="title-main">
             <span class="cyan_effect">Hospice </span>&amp;<span class="cyan_effect"> Palliative </span><br> Care Services
          </h1>
        </div>
          <div class="text-content">
            <ul class="service-list">
              <li><strong>Pain </strong>&amp;<strong> Symptom</strong> Management</li>
              <li><strong>Emotional</strong> &amp; <strong>Psychological Support</strong></li>
              <li><strong>24/7</strong> Medical Support</li>
              <li><strong>Personalized Care</strong> Plans</li>
              <li>Family<strong> Support</strong> &amp; <strong>Education</strong></li>
              <li><strong>Spiritual Care</strong> Services</li>
              <li><strong>Home-Based </strong>&amp;<strong> Facility Care</strong></li>
              <li><strong>Respite Care </strong>for<strong> Families</strong></li>
              <li><strong>Bereavement </strong>&amp;<strong> Grief Support</strong></li>
            </ul>
          </div>


        
     <br>
        
      </section>
    </div>
    
    <div class="section-6-2">
      <section>
        <div class="container-visitadhc">
        
              <button class="btn-visitadhc" (click)="goToLink('www.hospicecare-la.com')">
                I NEED HOSPICE CARE
              </button>
        </div>
      </section>
    </div>


  </div>



  <div class="section-web section-7">
    
    <div class="section-7-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="title-main">
            Los Angeles <span class="cyan_effect">Home<br>Health Care </span>Services
          </h1>
        </div>
        <div class="text-content">
          <ul class="service-list">
            <li>Primary <strong>Medical Care</strong></li>
            <li><strong>Laboratory & Testing</strong></li>
            <li><strong>Wound & Foot Care</strong></li>
            <li><strong>Chronic Disease</strong> Management</li>
            <li><strong>Mental Health</strong> Diagnosis & Care</li>
            <li><strong>Women’s Health Care</strong></li>
            <li><strong>Family Medicine</strong></li>
            <li>Physical <strong>Exams</strong> & TB <strong>Testing</strong></li>
          </ul>
        </div>


        
     <br>
        
      </section>
    </div>
    
    <div class="section-7-2">
      <section>
        <div class="container-visitadhc">
          
              <button class="btn-visitadhc" (click)="goToLink('www.sunvidamedicalclinic.com')">
                GET SENIOR CARE
              </button>
        </div>
      </section>
    </div>


  </div>