<div  class="section-web section-5">
    
    <div class="section-5-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="init-title">LOS ANGELES SENIOR SERVICES</h1>
  
          <h1 class="title-main ">
            <span class="cyan_effect">Who Are We?</span>
          </h1>
        </div>
        
        <div class="text-content">
          <p class="paragraph_2 ">
          <strong>Los Angeles Senior Services</strong> is a <strong>Community Agency</strong> that helps <strong>Seniors</strong> all over <strong>Los Angeles County</strong> &amp; <strong>Orange County</strong> access to <strong>Quality Health Care Services</strong> covered by <strong>Medical</strong> &amp; <strong>Medicare.</strong><br><br>

            Our <strong>Mission</strong> is to <strong>Improve Seniors Life-Quality</strong> by engaging them in tailored <strong>Health Care Programs</strong> according to their needs.<br><br>
            
            We build <strong>Life-Long Relationships</strong> were not only <strong>Health Care Needs</strong> are taking care off, but also <strong>Social, Recreational</strong> & <strong>Spiritual.</strong><br><br>
            
            Our Line is <strong>Open 24 hs to Help Seniors &amp; Families</strong> Find the Health Care Service they need.
          </p>

        </div>
       
            <a href="#logo">
              <img id="logo" class="logo_img_au" src="/logo.png" alt="Logo">
            </a>
            <br>
        <h1 class="title-main phone-number">
            (818) 922 7400
          </h1>
          <br>
      </section>
    </div>



  </div>




  <div  class="section-web section-2-au">
    
    
    <div class="section-2-1-au">
         <section>
            <div class="container-visitadhc">
                  <button class="btn-visitadhc">
                    CALL NOW
                  </button>
            </div>
          </section>
    </div>


  </div>


  <div  class="section-web section-5">
    
    <div class="section-5-1">

        <div class="text-content-au">
          <p class=" text-au">
           <strong> We’ve Helped 
            Hundreds of Families 
            Find & Enroll their Loved Ones in Trusted Local Senior Care Services 
            that Do Not require any
            Out-of-Pocket Costs.</strong>
          </p>

        </div>
    </div>



  </div>




  <div  class="section-web section-3-au">
    



  </div>



  <div class="section-web section-4-au">
    <div class="text-content">
  
      <div class="review-block">
        <p class="stars">★★★★★</p>
        <p class="comment">
          “Aileen Kasparian is simply the best!<br>
          Her medical knowledge is top-notch,<br>
          and she always makes me feel comfortable.” - L.A.
    
        </p>
      </div>
  
      <div class="review-block">
        <p class="stars">★★★★★</p>
        <p class="comment">
          “Nurse Aileen was incredible.<br>
          She explained everything and<br>
          recommended things that I want to<br>
          implement in my daily life.<br>
          I saw her reviews and I see why so<br>
          many people go to her.” - J.O.
      
        </p>
      </div>
  
    </div>

    <div class="image-container">
      <a href="https://maps.app.goo.gl/hmNgaZy5Vi5JeHHA9?g_st=com.google.maps.preview.copy" target="_blank" rel="noopener noreferrer">
        <img class="review_img" src="/google.png" alt="Google Icon">
      </a>
      
      <a href="https://m.yelp.com/biz/sun-vida-medical-clinic-san-fernando-valley" target="_blank" rel="noopener noreferrer">
        <img class="review_img" src="/yelp.png" alt="Yelp Icon">
      </a>
    </div>
  </div>
  