<div  class="section-web section-5">
    
    <div class="section-5-1">
      <section class="reviews">
        <div class="container">
          <br>
          <h1 class="init-title">LOS ANGELES SENIOR SERVICES</h1>
  
          <h1 class="title-main ">
            <span class="cyan_effect">Who Are We?</span>
          </h1>
        </div>
        
        <div class="text-content">
          <p class="paragraph_2 ">
          <strong>Los Angeles Senior Services</strong> is a <strong>Community Agency</strong> that helps <strong>Seniors</strong> all over <strong>Los Angeles County</strong> &amp; <strong>Orange County</strong> access to <strong>Quality Health Care Services</strong> covered by <strong>Medical</strong> &amp; <strong>Medicare.</strong><br><br>

            Our <strong>Mission</strong> is to <strong>Improve Seniors Life-Quality</strong> by engaging them in tailored <strong>Health Care Programs</strong> according to their needs.<br><br>
            
            We build <strong>Life-Long Relationships</strong> were not only <strong>Health Care Needs</strong> are taking care off, but also <strong>Social, Recreational</strong> & <strong>Spiritual.</strong><br><br>
            
            Our Line is <strong>Open 24 hs to Help Seniors &amp; Families</strong> Find the Health Care Service they need.
          </p>

        </div>
       
            <a href="#logo">
              <img id="logo" class="logo_img_au" src="/logo.png" alt="Logo">
            </a>
   
        <h1 class="title-main phone-number">
            (818) 922 7400
          </h1>
      </section>
    </div>



  </div>




  <div  class="section-web section-2-au">
    
    
    <div class="section-2-1-au">
         <section>
            <div class="container-visitadhc">
                  <button class="btn-visitadhc">
                    CALL NOW
                  </button>
            </div>
          </section>
    </div>


  </div>