<main>
  <div class="container-header">
    <header>
      <div class="logo">
        <a href="#logo">
          <img id="logo" class="logo_img" src="/logo.png" alt="Logo">
        </a>
      </div>

      <!-- Botón para abrir/cerrar menú -->
      <div class="menu-toggle" (click)="toggleMenu()">
        <span *ngIf="!isMenuActive">☰</span>
        <span *ngIf="isMenuActive">✖</span>
      </div>

      <!-- Menú de navegación -->
      <nav id="menu" [ngClass]="{ 'active': isMenuActive }">
        <ul class="un-header">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/refferals">Referrals</a></li>
          <li><a routerLink="/location">Location</a></li>
          <li><a routerLink="/aboutus">About Us</a></li>
        </ul>
      </nav>
    </header>
  </div>



  <router-outlet></router-outlet>




<!-- final Section-->
<div #section class="section-web section-final">
  <!-- section12_1-desktop -->
  <div class="section-final-1">
      <section class="contact" id="contact">
        <div class="container" style="max-width: 1200px; margin: 0 auto;">
        
          <div class="network-container">
            <a href="https://www.instagram.com/sunvidamedicalclinic/" target="_blank" class="network-link">
              <img src="/instagram.png" alt="Instagram" class="network_img" id="instagram">
            </a>
            <p class="paragraph_3">&#64;laseniorservices</p>
          </div>

          <div class="network-container">
            <a href="https://www.instagram.com/sunvidamedicalclinic/" target="_blank" class="network-link">
              <img src="/facebookdesktop.png" alt="Facebook" class="network_img" id="facebook">
              <p class="paragraph_3" style="padding-left:15px;">//laseniorservices</p>
            </a>
          </div>

        </div>
      </section>

  </div>

    <!-- section12_3-desktop -->
  <div class="section-final-2">
    <section class="contact">
      <div class="container">
          <ul class="list-footer">
            <li class="list-item-footer" ><a class="link-footer" routerLink="/home">Home</a></li>
            <li class="list-item-footer"><a class="link-footer" routerLink="/refferals">Referrals</a></li>
            <li class="list-item-footer"><a class="link-footer" routerLink="/location">Location</a></li>
            <li class="list-item-footer"><a class="link-footer" routerLink="/aboutus">About Us</a></li>
          </ul>
      </div>
    </section>
  </div>

<br>
  
  <!-- section12_2-desktop -->
  <div class="section-final-3">
    <section class="contact">
      <div class="container">

        <p style="padding: 0px;" class="paragraph_3">
          Phone: 818-208-1077 // Fax: 818-279-0816
        </p>
        <p style="padding: 0px;" class="paragraph_3">
          office&#64;sunvidamedicalclinic.com
        </p>
        <br>
        <br>
        <p style="padding: 5px 0px 0px 0px;" class="copyright">
          &#169; Copyright 2025 - LA SENIOR SERVICES LLC
        </p>
        <p style="padding: 5px 0px 0px 0px;" class="copyright">
          Made by www.laseniorservices-agency.com
        </p>
      </div>
    </section>
  </div>

</div>


  
</main>


  <footer>
  <div class="footer-container">
    <div *ngIf="!isDesktop" style="margin-left:15px; margin-right:15px;" class="footer-item" id="call-us">
      <img src="/footer/callus.png" alt="Call Us Icon" class="footer-icon">
      <span class="white_effect">CALL US</span>
    </div>
  </div>
  
  <div *ngIf="isDesktop" class="footer-container">
    <div style="margin-left:15px; margin-right:15px;" class="footer-item">
      <span class="white_effect title-main">(818) 208-1077</span>
    </div>
  </div>
  
  <div class="footer-divider"></div>
  
  <a href="https://maps.app.goo.gl/hmNgaZy5Vi5JeHHA9?g_st=com.google.maps.preview.copy" 
     class="footer-item" 
     style="margin-left:15px; text-decoration: none;" 
     target="_blank" 
     rel="noopener noreferrer">
    <img src="footer/location.png" alt="Directions Icon" class="footer-icon">
    <span class="white_effect">DIRECTIONS</span>
  </a>
</footer>

