@import url("https://fonts.googleapis.com/css?family=Roboto:500,700,600,400");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
  background-color: #000000 !important; 
 
}


html, body {
  overflow-x: hidden;

}
main {

    text-align: center;

    overflow-x: hidden;  
}

.container-header{
    background-color: #000000;
    text-align: center;
    display: flexbox;
    margin-top: -2vh;
    margin-bottom: -6vh;
    
}

.logo .logo_desktop{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

.logo_img {
    width: 10rem;
    margin-left: -.7rem;


}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  z-index: 101;
  position: relative;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}



.un-header{
    padding: 2vh;    
}



body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 150;
    padding-left: 1rem;
    padding-right: 1rem;

}







nav {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  width: 100%;
  height: auto;
  flex-direction: row; 

}


@media (max-width: 768px) {
  nav {
    display: none; 
    flex-direction: row; 
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
 
    background: #000000 ;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: slideInRight 0.5s ease forwards;
  }

  nav.active {
    display: flex; 
  }
}




@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%); 
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

nav ul {
  list-style: none;
  display: flex; 
}


@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
}

    
nav ul li {
  margin: 10px; 
}

nav ul li a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

.init-title {
    color:#FFFFFF;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding-top:3vh ;
    padding-bottom: -3vh;
    letter-spacing:0.25px;
}

.cyan_effect{
    color:#00FFFF;
}

.white_effects5, .white_effect{
  color: #FFFFFF;
}

.title-desktop{
  font-size: 2rem;
  color:#FFFFFF;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-content{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.text-content-title{
    padding-left: 1rem;
    padding-right: 1rem;
}

.paragraph_2,.paragraph_3,.wwdb-text,.link_footer{
    color:#FFFFFF;
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
}
.link-footer{
    text-decoration: none;
    color: inherit; 
      padding: 15px;
    
}
.list-footer{
  padding: 1vh;
  list-style: none;
  font-size: 1.1rem;
}

.list-item-footer{
  padding: 1vh;

}

.see_more_text{
  color:#FFFFFF;
}

.image-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 3vh; 
  flex-wrap: nowrap; 
}

.review_img {
  width: 20vh; 
  height: auto; 
  display: inline-block; 
}

footer {
background: #000000;
padding: 1rem;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
bottom: 0;
width: 100%;
z-index: 1050;
margin-top:1vh;
}

.footer-container {
display: flex;
align-items: center;
gap: 1rem;
}

.footer-item {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
font-weight: bold;
color: #091540;
}

.footer-icon {
width: 1.5rem;
height: 1.5rem;
}

.footer-divider {
width: 0.35vh;
height: 5vh;
background: #FFFFFF;
}
.section1-desktop {
  background-image: url("/backgroundImages/section1.png");
  background-size: cover; 
  background-position: center left 35%; 
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay; 
}

.color-black{
  color:#000000;
}

.color-strong-grey{
  color:#6E7072  ;
}

.container-call24hs{
  background-color: #00FFFF;
  padding: 3vh;
}

.btn-appointment{
      color: #FFFFFF; 
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 1vh;
      width: 35vh;
      height: 5.5vh;
      max-width: 45vh;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: #000000; 
}

.section2-desktop {
  background-color: #DFE0E2;
}

.section12-desktop {
  background-color: #6E7072;
  background-blend-mode: overlay;
  color: white; 
  padding: 20px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  text-align: center;
 
  
}
.section12_1-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
 

}

.network-container {
  display: flex;
  align-items: center; /* Alinea verticalmente la imagen y el texto */
  gap: 10px; /* Espacio entre la imagen y el texto */
  justify-content: center;
  padding-top: 5px;
  
}

.network-link {
  display: flex; /* Asegura que el enlace no afecte la alineación */
  align-items: center;
}

.network_img {
  width: 40px; /* Tamaño base */
  display: block;
}

.network_img  img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
.footer-container {
gap: 10px;
}
.footer-icon {
width: 20px;
height: 20px;
}
}

@media (min-width: 768px) {
  /*
  .section-desktop {
    opacity: 0; 
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out, background-color 0.8s ease-out;
    background-color: #000000;
    color: white; 
  
  }
*/
  .section1-desktop {

  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative; 
  padding-top: 100px;
  padding-bottom: 100px;
  
  
}

.section1_1-desktop {

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    


}

.section1_2-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    

}
.network-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinea verticalmente los elementos */
  padding-left: 80px;
  padding: 10px;
}

}